
<h1 class="contacts">Welcome to all the contacts page!!!</h1>

<div class="contacts">
  <% @all_contacts.each do |contact| %>
  <li><%= "#{contact.first_name} #{contact.last_name}" %></li>
  <% end %>
</div>