<%= form_tag "/create", method: :post do %>
  <div>First Name: <input type="text" name="first_name_param"></div>
  <div>Last Name: <input type="text" name="last_name_param"></div>
  <div>Phone Number: <input type="text" name="phone_number_param"></div>
  <div>Email: <input type="text" name="email_param"></div>
  <div>Email: <input type="submit" value="Create Contact"></div>
<% end %>